/*  Reset   */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


/*  Custom CSS  */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min(10px, 1fr) 3fr 2fr 1fr;
    grid-template-areas: "header header"
        "sidebar main"
        "sidebar main"
        "footer footer";
    column-gap: 1rem;
}

header {
    background-color: #fff;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 80px;
    justify-items: center;
    align-items: center;
}

.search input {
    padding: .5rem 1rem;
    width: 14rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6b7280;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #d1d5db;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);

}

.search button {
    padding: .5rem .625rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6b7280;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: .0625rem solid #d1d5db;
    border-radius: .5rem;
}

header img#logo {
    width: 90px;
}

.user img {
    width: 16px;

}

.accounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    align-items: center;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sidebar {
    background-color: #1f2937;
    grid-area: sidebar;
    color: #fff;
    display: grid;
    grid-template-rows: 8fr 1fr;
    border-radius: 8px;
}

.sidebar button {
    width: 150px;
    height: 60px;
    align-self: center;
    justify-self: center;
    background-color: #f0bc74;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

ul.side-nav {
    display: grid;
    justify-content: stretch;
    text-align: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.side-nav li {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

}

.side-nav i {
    font-size: 1.2rem;

}

.side-nav li:hover {
    background-color: #374151;
}



main {
    background-color: #e9ecef;
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

main button {
    width: 120px;
    padding: 0.5rem;
    border-radius: 8px;
    color: #fff;
    background-color: #1f2937;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(17, 24, 39, .075);
    border: .0625rem solid transparent;
    padding: .5rem 1rem;
    font-size: .875rem;
    border-radius: .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



.analytics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.analytics>* {
    padding: 2rem;
    color: #fff;
    border-radius: 5px;
}

.analytics .total-visits {
    background-color: #00b297;

}

.analytics .unique-visits {
    background-color: #0866c6;
}

.analytics .bounce-rate {
    background-color: #1d2939;
}

.analytics h3 {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: #e9ecef;
    grid-area: footer;
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
    background-color: #fff;

}

footer .copy {
    display: grid;
    align-items: center;

}

footer .socials {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 0.8rem;
}